@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --transition: 150ms cubic-bezier(.4,0,.2,1);
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', Arial, sans-serif;
}

a { transition: color var(--transition); }

html, body, #root {
  transition: background-color var(--transition), color var(--transition);
}
